.header-content {
    width: 100vw;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content .menu, .close-menu{
    display: none;    
}

/* NAVIGATION */

.scroll {
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
    background: var(--brand-green);
    z-index: 10;
}

.scroll > .header-content svg {
    fill: white;
}

.scroll svg:nth-child(1) path {
    fill: white;
}

.scroll .open-menu path {
    stroke: white;
}


/* ###### MENU EXPANDED ######## */

.menu {
    transform: translateY(100%);
}

body.menu-expanded > *:not(header) {
    visibility: hidden;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
    position: relative;
    z-index: 10;
}

body.menu-expanded .logo path {
    fill: white;
}

body.menu-expanded {
    overflow: hidden;
}

.menu,
.close-menu,
.body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
    display: inline-block;
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--brand-green);

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;

    transition: 800ms;
    transform: translateY(0);
}

.menu-social ul {
    display: flex;
    gap: 3.2rem;
}

.menu li {
    text-align: center;
    color: var(--white);
}

.menu li:not(:last-child) {
    margin-bottom: 3.2rem;
}

.menu {
    padding-top: 10rem;
}

@media (min-width:800px) {
    
    /* RESET NOS ESTILOS DO HEADER */
    header#navigation .header-content * {
        margin: initial;
        padding: initial;
        visibility: initial;
        opacity: initial;
        position: initial;
        display: initial;
        align-items: initial;
        justify-content: initial;
        flex-direction: initial;
        transform: initial;
        font-weight: initial;
        font-size: initial;
        color: initial;
        background-color: initial;
        border-color: initial;

    }

    header#navigation .open-menu,
    header#navigation .close-menu,
    header#navigation .menu-social {
        display: none;
    }

    /* espaçamento entre o menu e o botão Agendar Consulta */
    header#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20vw;
    }
    
    header#navigation .menu ul {
        display: flex;
        gap: 3.2rem;
        position: relative;
    }
    
    /* Menu sem scroll */
    header#navigation .menu ul li a{
        color: var(--brand-green);
    }

    header#navigation .menu ul li a.active,
    header#navigation .menu ul li a:hover{
        color: var(--brand-green-hover);
    }
    
    header#navigation .menu ul li a::after{
        content: "";
        display: block;

        width: 0;
        height: 2px;
        
        position: relative;
        bottom: -2.4rem;

        transition: ease 200ms;
    }

    header#navigation .menu ul li a.active::after,
    header#navigation .menu ul li a:hover::after{
        width: 100%;
        background: var(--brand-green-hover);
    }

    /* Menu com scroll */
    header#navigation.scroll .menu ul li a{
        color: var(--brand-green-light);
    }

    header#navigation.scroll .menu ul li a::after{
        background: var(--brand-green-light);
    }
    
    header#navigation.scroll .menu ul li a.active,
    header#navigation.scroll .menu ul li a:hover{
        color: var(--white);
    }

    header#navigation.scroll .menu > a {
        border: 1px solid var(--white);
        color: var(--white);
    }

    header#navigation .menu > a {
        display: flex;
        gap: 1rem;
        align-items: center;
        
        padding: 1rem 2.4rem;
        border-radius: 4rem;
        
        border: 1px solid var(--brand-green);
        color: var(--brand-green);
        font: 700 1.4rem/1.4rem 'DM Sans', sans-serif;
        text-transform: uppercase;
        
        cursor: pointer;
    }

    header#navigation .menu > a:hover {
        background: var(--brand-green);
        color: var(--white);      
    }

    header#navigation.scroll .menu > a:hover {
        background: var(--white);
        color: var(--brand-green);      
    }
}