.header-content {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 2.4rem;
}

.header-content .menu-mobile{
    display: none;    
}

.scroll {
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
    background: var(--brand-green);
}

.scroll > .header-content svg {
    fill: white;
}

.scroll svg:nth-child(1) path {
    fill: white;
}

.scroll .open-menu path {
    stroke: white;
}


/* ###### MENU EXPANDED ######## */

body.menu-expanded > *:not(header) {
    display: none
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
    position: relative;
    z-index: 10;
}

body.menu-expanded .logo path {
    fill: white;
}

body.menu-expanded {
    overflow: hidden;
}

.menu-mobile,
.close-menu,
.body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu-mobile,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

body.menu-expanded .menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--brand-green);

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.menu-mobile-social ul {
    display: flex;
    gap: 3.2rem;
}

.menu-mobile li {
    text-align: center;
    color: var(--white);
}

.menu-mobile li:not(:last-child) {
    margin-bottom: 3.2rem;
}

.menu-mobile {
    padding-top: 10rem;
}



