@charset "UTF-8";
:root {
    --nav-height: 7.2rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

button, input, textarea {
    all: unset;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 2.4rem;
    margin: 0 auto;
}

